<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:10px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:13.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:13.3px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:13.3px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:"Cordia New",serif;font-size:13.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Cordia New",serif;font-size:13.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Cordia New Bold",serif;font-size:10px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Cordia New Bold",serif;font-size:13.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>

</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="img/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:250.44px;top:36.83px" class="cls_003"><span class="cls_003">สาขาผู้รับฝาก</span></div>
<div style="position:absolute;left:453.83px;top:36.83px" class="cls_003"><span class="cls_003">วันที่</span></div>
<div style="position:absolute;left:399.84px;top:63.95px" class="cls_003"><span class="cls_003">โปรดระบุรายละเอียด</span><span class="cls_004">ผู้สมัคร</span></div>
<div style="position:absolute;left:111.72px;top:68.99px" class="cls_003"><span class="cls_003">คณะวิศวกรรมศาสตรศรราชา มหาวิทยาลัยเกษตรศาสตร์</span></div>
<div style="position:absolute;left:357.48px;top:81.83px" class="cls_003"><span class="cls_003">ชื่อ</span><span class="cls_002">-</span><span class="cls_003">นามสกุล</span><span class="cls_002"> (Name)</span></div>
<div style="position:absolute;left:111.72px;top:85.43px" class="cls_003"><span class="cls_003">โทรศัพท์</span><span class="cls_005"> 0-3835-4581</span></div>
<div style="position:absolute;left:357.48px;top:100.07px" class="cls_003"><span class="cls_003">เลขที่บัตรประชาชน</span><span class="cls_002"> (Ref.1)</span></div>
<div style="position:absolute;left:357.48px;top:118.43px" class="cls_002"><span class="cls_002">Paper ID (Ref.2)</span></div>
<div style="position:absolute;left:118.80px;top:121.43px" class="cls_003"><span class="cls_003">ธนาคารทหารไทย</span><span class="cls_005"> </span><span class="cls_003">จำกัด</span><span class="cls_005"> (</span><span class="cls_003">มหาชน</span><span class="cls_005">) Comp. Code : 2087</span></div>
<div style="position:absolute;left:357.48px;top:136.55px" class="cls_003"><span class="cls_003">เบอรโทรศัพท์มือถือ</span><span class="cls_002"> (Ref.3)</span></div>
<div style="position:absolute;left:445.80px;top:180.59px" class="cls_003"><span class="cls_003">จำนวนเงิน</span><span class="cls_002"> (</span><span class="cls_003">บาท</span><span class="cls_002">)</span></div>
<div style="position:absolute;left:96.24px;top:189.71px" class="cls_003"><span class="cls_003">โปรดชำระเงินผ่านเคาน์เตอร์ธนาคารทหารไทยทุกสาขาทั่วประเทศ</span></div>
<div style="position:absolute;left:449.16px;top:198.83px" class="cls_002"><span class="cls_002">Amount (Baht)</span></div>
<div style="position:absolute;left:91.08px;top:217.67px" class="cls_003"><span class="cls_003">เงินสด</span></div>
<div style="position:absolute;left:91.44px;top:235.79px" class="cls_002"><span class="cls_002">Cash</span></div>
<div style="position:absolute;left:132.72px;top:242.15px" class="cls_003"><span class="cls_003">โปรดเขียนจำนวนเงินเป็นตัวหนังสือ</span><span class="cls_002"> / Please write amount in words</span></div>
<div style="position:absolute;left:51.36px;top:260.87px" class="cls_003"><span class="cls_003">หมายเหตุ</span><span class="cls_002"> - </span><span class="cls_003">ค่าธรรมเนียม</span><span class="cls_002"> 10 </span><span class="cls_003">บาททั่วประเทศ</span><span class="cls_002"> (</span><span class="cls_003">เรียกเก็บค่าธรรมเนียมกับผู้ชำระเงิน</span><span class="cls_002">)</span></div>
<div style="position:absolute;left:444.00px;top:325.55px" class="cls_003"><span class="cls_003">ผู้รับเงิน</span><span class="cls_002"> / Collector</span></div>
<div style="position:absolute;left:51.36px;top:343.31px" class="cls_005"><span class="cls_005">(</span><span class="cls_003">สำหรับผู้ส่งบทความ</span><span class="cls_005">)</span></div>
<div style="position:absolute;left:250.44px;top:396.83px" class="cls_003"><span class="cls_003">สาขาผู้รับฝาก</span></div>
<div style="position:absolute;left:453.83px;top:396.83px" class="cls_003"><span class="cls_003">วันที่</span></div>
<div style="position:absolute;left:399.84px;top:423.95px" class="cls_003"><span class="cls_003">โปรดระบุรายละเอียด</span><span class="cls_004">ผู้สมัคร</span></div>
<div style="position:absolute;left:111.72px;top:430.55px" class="cls_003"><span class="cls_003">คณะวิศวกรรมศาสตรศรราชา มหาวิทยาลัยเกษตรศาสตร์</span></div>
<div style="position:absolute;left:357.48px;top:441.83px" class="cls_003"><span class="cls_003">ชื่อ</span><span class="cls_002">-</span><span class="cls_003">นามสกุล</span><span class="cls_002"> (Name)</span></div>
<div style="position:absolute;left:111.72px;top:446.99px" class="cls_003"><span class="cls_003">โทรศัพท์</span><span class="cls_005"> 0-3835-4581</span></div>
<div style="position:absolute;left:357.48px;top:460.07px" class="cls_003"><span class="cls_003">เลขที่บัตรประชาชน</span><span class="cls_002"> (Ref.1)</span></div>
<div style="position:absolute;left:357.48px;top:478.43px" class="cls_002"><span class="cls_002">Paper ID (Ref.2)</span></div>
<div style="position:absolute;left:118.80px;top:482.99px" class="cls_003"><span class="cls_003">ธนาคารทหารไทย</span><span class="cls_005"> </span><span class="cls_003">จำกัด</span><span class="cls_005"> (</span><span class="cls_003">มหาชน</span><span class="cls_005">) Comp. Code : 2087</span></div>
<div style="position:absolute;left:357.48px;top:496.67px" class="cls_003"><span class="cls_003">เบอร์โทรศัพท์มือถือ</span><span class="cls_002"> (Ref.3)</span></div>
<div style="position:absolute;left:445.80px;top:542.15px" class="cls_003"><span class="cls_003">จำนวนเงิน</span><span class="cls_002"> (</span><span class="cls_003">บาท</span><span class="cls_002">)</span></div>
<div style="position:absolute;left:96.24px;top:551.27px" class="cls_003"><span class="cls_003">โปรดชำระเงินผ่านเคาน์เตอร์ธนาคารทหารไทยทุกสาขาทั่วประเทศ</span></div>
<div style="position:absolute;left:449.16px;top:560.39px" class="cls_002"><span class="cls_002">Amount (Baht)</span></div>
<div style="position:absolute;left:91.08px;top:579.23px" class="cls_003"><span class="cls_003">เงินสด</span></div>
<div style="position:absolute;left:91.44px;top:597.35px" class="cls_002"><span class="cls_002">Cash</span></div>
<div style="position:absolute;left:132.72px;top:603.71px" class="cls_003"><span class="cls_003">โปรดเขียนจำนวนเงินเป็นตัวหนังสือ</span><span class="cls_002"> / Please write amount in words</span></div>
<div style="position:absolute;left:51.36px;top:622.43px" class="cls_003"><span class="cls_003">หมายเหตุ</span><span class="cls_002"> - </span><span class="cls_003">ค่าธรรมเนียม</span><span class="cls_002"> 10 </span><span class="cls_003">บาททั่วประเทศ</span><span class="cls_002"> (</span><span class="cls_003">เรยกเกบคาธรรมเนยมกบผชาระเงน</span><span class="cls_002">)</span></div>
<div style="position:absolute;left:444.00px;top:687.11px" class="cls_003"><span class="cls_003">ผู้รับเงิน</span><span class="cls_002"> / Collector</span></div>
<div style="position:absolute;left:51.36px;top:704.87px" class="cls_005"><span class="cls_005">(</span><span class="cls_003">สำหรับเจ้าหน้าที่ธนาคาร</span><span class="cls_005">)</span></div>
</div>

</body>
</html>
