span.cls_003 {
    font-family: Arial, serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  div.cls_003 {
    font-family: Arial, serif;
    font-size: 10.3px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin-left: 0px;
  }
  span.cls_004 {
    font-family: Arial, serif;
    font-size: 13.3px;
    color: rgb(255, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  div.cls_004 {
    font-family: Arial, serif;
    font-size: 13.3px;
    color: rgb(255, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  span.cls_002 {
    font-family: "Cordia New", serif;
    font-size: 13.3px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  div.cls_002 {
    font-family: "Cordia New", serif;
    font-size: 13.3px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
  span.cls_005 {
    font-family: "Cordia New Bold", serif;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
  div.cls_005 {
    font-family: "Cordia New Bold", serif;
    font-size: 13.3px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
  